.post
{
    width: 550px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    font-family: "comfortaa";
    margin: 10px auto;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.9);

}

body
{
    background: rgb(61, 230, 123);
}

.btn
{
    background-image:linear-gradient(to right,rgb(139,92,246), rgb(14, 165, 233));
}