.AllPosts
{
    padding: 10px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Post
{
    font-family: "comfortaa";
    background: white;
    border: 1px rgb(105, 23, 23) solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); ;
}

.viewPostBotton
{
    background-image:linear-gradient(to right,rgb(139,92,246), rgb(14, 165, 233));


}