body
{
    font-family: 'comfortaa';
    background: rgb(140, 217, 166);

}
#postButton
{
   background-image:linear-gradient(to right,rgb(139,92,246), rgb(14, 165, 233));
   color: aliceblue;

}
.formDiv
{
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}