body
{
    font-family: 'comfortaa';

    background: rgb(140, 217, 166);
}

.login-card
{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#LoginButton
{
background-image:linear-gradient(to right,rgb(139,92,246), rgb(14, 165, 233));
color: rgb(255, 255, 255);
}